eval/gen_data/
eval/test_data/
eval/train_data/
methods/ARF/.Rapp.history
methods/CorGAN/cor-gan-master/README.md
methods/CorGAN/models/
methods/CorGAN/temp_data/
methods/GReaT/trainer_great/
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/ExpData/
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/OriginalDataset/
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/bin/ExpData/
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/bin/OriginalDataset/
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/bin/target/classes/
methods/dpart/experiments/
methods/knnMTD/kNNMTD_main/Data/
.idea/vcs.xml
methods/ARF/gen_data.csv
methods/ARF/train_data.csv
methods/MCGEN/config.txt

