.DS_Store
.idea/.DS_Store
IEEE_pipeline.ipynb
data/.DS_Store
data/Arrhythmia/
data/Breast Cancer/
data/Breast Tissue/
data/Cardiotocography/
data/Chronic Kidney Disease/
data/Dermatology/
data/Diabetes/
data/Diabetic Retinography/
data/EEG Eye State/
data/Echocardiogram/
data/Heart Disease/
data/Lymphography/
data/Postoperative Patient Data/
data/Stroke/
data/Thoracic Surgery/
data/Thyroid Disease/
data/Tumor/
data/Z-Adlidazeh Sani/
data/__pycache__/
data/preprocessingTest.ipynb
eval/.DS_Store
eval/__pycache__/
eval/gen_data/
eval/test_data/
eval/train_data/
histGen/.DS_Store
histGen/__pycache__/
methods/.DS_Store
methods/ARF/.DS_Store
methods/ARF/.Rapp.history
methods/ARF/__pycache__/
methods/ARF/arf_eval.ipynb
methods/ChatGPT/
methods/CorGAN/.DS_Store
methods/CorGAN/__pycache__/
methods/CorGAN/cor-gan-master.zip
methods/CorGAN/cor-gan-master/.DS_Store
methods/CorGAN/cor-gan-master/.github/
methods/CorGAN/cor-gan-master/Generative/.DS_Store
methods/CorGAN/cor-gan-master/Generative/VAE/.DS_Store
methods/CorGAN/cor-gan-master/Generative/VAE/MIMIC/.DS_Store
methods/CorGAN/cor-gan-master/Generative/corGAN/.DS_Store
methods/CorGAN/cor-gan-master/Generative/corGAN/pytorch/.DS_Store
methods/CorGAN/cor-gan-master/Generative/corGAN/pytorch/CNN/.DS_Store
methods/CorGAN/cor-gan-master/Generative/corGAN/pytorch/CNN/MIMIC/.DS_Store
methods/CorGAN/cor-gan-master/Generative/corGAN/pytorch/CNN/MIMIC/.vscode/
methods/CorGAN/cor-gan-master/Generative/corGAN/pytorch/MLP/
methods/CorGAN/cor-gan-master/Generative/medGAN/
methods/CorGAN/cor-gan-master/README.md
methods/CorGAN/cor-gan-master/imgs/
methods/CorGAN/cor_gan_pipe.ipynb
methods/CorGAN/models/
methods/CorGAN/temp_data/
methods/GReaT/.DS_Store
methods/GReaT/__pycache__/
methods/GReaT/great.ipynb
methods/GReaT/trainer_great/
methods/Lippizaner/
methods/MCGEN/.DS_Store
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main.zip
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/.DS_Store
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/.vscode/
"methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/Abh\303\244ngigkeiten.rtf"
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/ExpData/
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/OriginalDataset/
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/bin/.DS_Store
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/bin/ExpData/
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/bin/OriginalDataset/
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/bin/target/.DS_Store
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/bin/target/classes/
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/src/.DS_Store
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/src/main/.DS_Store
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/src/main/java/.DS_Store
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/src/main/java/MCGEN_Demo/.DS_Store
methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/target/.DS_Store
methods/MCGEN/__pycache__/
methods/MCGEN/mcgen_pipe.ipynb
methods/PZFlow/.DS_Store
methods/PZFlow/__pycache__/
methods/PZFlow/pzflow_pipe.ipynb
methods/SMOTE/__pycache__/
methods/SMOTE/smote.ipynb
methods/TabuLa/.DS_Store
methods/TabuLa/Tabula-main.zip
methods/TabuLa/Tabula-main/.DS_Store
methods/TabuLa/Tabula-main/Real_Datasets/
methods/TabuLa/Tabula-main/Tabula_on_insurance_dataset.ipynb
methods/TabuLa/Tabula-main/__pycache__/
methods/TabuLa/Tabula-main/pretrained-model/
methods/TabuLa/Tabula-main/tabula/__pycache__/
methods/TabuLa/tabula.ipynb
methods/dpart/.DS_Store
methods/dpart/__pycache__/
methods/dpart/docs/
methods/dpart/dpart/.DS_Store
methods/dpart/dpart/__pycache__/
methods/dpart/dpart/engines/__pycache__/
methods/dpart/dpart/methods/__pycache__/
methods/dpart/dpart/methods/base/__pycache__/
methods/dpart/dpart/methods/utils/__pycache__/
methods/dpart/dpart/utils/__pycache__/
methods/dpart/dpart/utils/dependencies/__pycache__/
methods/dpart/dpart_gen.ipynb
methods/dpart/experiments/
methods/ensemble/__pycache__/
methods/ensemble/ens.ipynb
methods/evolutionary/__pycache__/
methods/evolutionary/evol_gen.ipynb
methods/knnMTD/.DS_Store
methods/knnMTD/__pycache__/
methods/knnMTD/kNNMTD-main.zip
methods/knnMTD/kNNMTD_main/.DS_Store
methods/knnMTD/kNNMTD_main/.ipynb_checkpoints/Untitled-checkpoint.ipynb
methods/knnMTD/kNNMTD_main/Data/
methods/knnMTD/kNNMTD_main/__pycache__/
methods/knnMTD/kNNMTD_main/illustration.png
methods/knnMTD/kNNMTD_pipe.ipynb
methods/sdv/.DS_Store
methods/sdv/__pycache__/
methods/sdv/sdv.ipynb
.idea/vcs.xml
methods/ARF/gen_data.csv
methods/ARF/train_data.csv
"methods/MCGEN/MCGEN-Private-Synthetic-Data-Generator-main/Abh\303\244ngigkeiten.rtf"
methods/MCGEN/config.txt

